body {
  margin: 10px;
}

h4 {
  text-align: center;
  background: #eee;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  display: flex;  
}

.dest {
  margin-left: 20px;
}

.lang {
  margin-left: 20px;
}

input {
  width: 25px;
  height: 25px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 5px; 
  line-height: 25px;
}

button {
  width: 80px;
}
